asgi-redis==1.4.3
asgiref==1.1.2
astor==0.6.2
async-timeout==2.0.1
autobahn==18.3.1
channels==1.1.5
daphne==1.4.2
Django==2.0.4
gast==0.2.0
grpcio==1.10.0
gTTS==1.2.2
gTTS-token==1.1.1
ipython==6.2.1
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
matplotlib==2.2.2
msgpack-python==0.5.6
nltk==3.2.5
notebook==5.4.1
numpy==1.14.2
pandas==0.22.0
pyasn1==0.4.2
redis==2.10.6
scikit-learn==0.19.1
scipy==1.0.1
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
tqdm==4.19.9
txaio==2.9.0
